In [16]:
import pandas as pd
import sklearn

In [9]:
df = pd.read_csv('StudentsPerformance.csv')
df.head()
# df.info()
# df.describe()

# print(df.isnull().sum())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
from sklearn.preprocessing import LabelEncoder
df_label = df.copy()

le = LabelEncoder()
df_label['Gender Encoder'] = le.fit_transform(df_label['gender'])
df_label['lunch Encoder'] = le.fit_transform(df_label['lunch'])
df_label['test preparation course Encoder'] = le.fit_transform(df_label['test preparation course'])
df_label[' Paremtal Level of Education Encoder'] = le.fit_transform(df_label['parental level of education'])
# df_label.head()

df_encodecd = pd.get_dummies(df_label, columns=['race/ethnicity'], dtype=int)
print(df_encodecd.head())

   gender parental level of education         lunch test preparation course  \
0  female           bachelor's degree      standard                    none
1  female                some college      standard               completed
2  female             master's degree      standard                    none
3    male          associate's degree  free/reduced                    none
4    male                some college      standard                    none

   math score  reading score  writing score  Gender Encoder  lunch Encoder  \
0          72             72             74               0              1
1          69             90             88               0              1
2          90             95             93               0              1
3          47             57             44               1              0
4          76             78             75               1              1

   test preparation course Encoder   Paremtal Level of Education Encoder  \
0                                1                                     1
1                                0                                     4
2                                1                                     3
3                                1                                     0
4                                1                                     4

   race/ethnicity_group A  race/ethnicity_group B  race/ethnicity_group C  \
0                       0                       1                       0
1                       0                       0                       1
2                       0                       1                       0
3                       1                       0                       0
4                       0                       0                       1

   race/ethnicity_group D  race/ethnicity_group E
0                       0                       0
1                       0                       0
2                       0                       0
3                       0                       0
4                       0                       0

In [35]:
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

data = {
    'StudyHours': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'Scores': [20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
}
df = pd.DataFrame(data)

# Standard Scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[['StudyHours', 'Scores']])
df_scaled = pd.DataFrame(scaled_features, columns=['StudyHours', 'Scores'])

print("Scaled DataFrame:")
print(df_scaled)


# Min-Max Scaling
minmax_scaler = sklearn.preprocessing.MinMaxScaler()
minmax_scaled = minmax_scaler.fit_transform(df)
df_minmax_scaled = pd.DataFrame(minmax_scaled, columns=['StudyHours', 'Scores'])

print("Min-Max Scaled DataFrame:")
print(df_minmax_scaled)




X = df_scaled[['StudyHours']]
y = df_scaled['Scores'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train, y_train:")
print(X_train, y_train)  
print("X_test, y_test:")
print(X_test, y_test)

Scaled DataFrame:
   StudyHours    Scores
0   -1.566699 -1.566699
1   -1.218544 -1.218544
2   -0.870388 -0.870388
3   -0.522233 -0.522233
4   -0.174078 -0.174078
5    0.174078  0.174078
6    0.522233  0.522233
7    0.870388  0.870388
8    1.218544  1.218544
9    1.566699  1.566699
Min-Max Scaled DataFrame:
   StudyHours    Scores
0    0.000000  0.000000
1    0.111111  0.111111
2    0.222222  0.222222
3    0.333333  0.333333
4    0.444444  0.444444
5    0.555556  0.555556
6    0.666667  0.666667
7    0.777778  0.777778
8    0.888889  0.888889
9    1.000000  1.000000
X_train, y_train:
   StudyHours
5    0.174078
0   -1.566699
7    0.870388
2   -0.870388
9    1.566699
4   -0.174078
3   -0.522233
6    0.522233 5    0.174078
0   -1.566699
7    0.870388
2   -0.870388
9    1.566699
4   -0.174078
3   -0.522233
6    0.522233
Name: Scores, dtype: float64
X_test, y_test:
   StudyHours
8    1.218544
1   -1.218544 8    1.218544
1   -1.218544
Name: Scores, dtype: float64