In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = {
    'name' : ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age' : [24, 27, 22, 32, 29],
    'city' : ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

Add column in pandas

In [12]:
df['salary'] = [70000, 80000, 65000, 90000, 75000]
print(df)

      name  age  Employee_id         city  salary  emplyee_id
0    Alice   24          101     New York   70000           1
1      Bob   27          102  Los Angeles   80000           2
2  Charlie   22          103      Chicago   65000           3
3    David   32          104      Houston   90000           4
4      Eva   29          105      Phoenix   75000           5

In [17]:
df.drop('Employee_id', axis=1, inplace=True)
print(df)

      name  age         city  salary  emplyee_id
0    Alice   24     New York   70000           1
1      Bob   27  Los Angeles   80000           2
2  Charlie   22      Chicago   65000           3
3    David   32      Houston   90000           4
4      Eva   29      Phoenix   75000           5